<header>
  <nav class="navbar navbar-default navbar-static-top">
    <a href="/" id="logo" class="navbar-brand">Rails 5.0 doodle</a>
    <ul class="nav navbar-nav">
      <li>
        <a href="/posts">Posts</a>
      </li>
    </ul>
  </nav>
</header>